<connectionStrings>
  <add name="AWLT" connectionString="originalconfig"
      providerName="oldproviderfromorignailconfig" />
  <add name="AWLT2" connectionString="originalconfig2"
    providerName="oldproviderfromorignailconfig2" />
  <add name="Test3" connectionString="my.local.connectionstring" providerName="machinebased"/>
  <add name="Test4" connectionString="subdirectory.local.connectionstring" providerName="machinebased"/>
</connectionStrings>